
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

header {
  background-color: #bcd4e6;
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

section {
  padding: 20px;
}

footer {
  background-color: #bcd4e6;
  text-align: center;
  padding: 10px;
}
#gallery {
  padding: 20px;
  text-align: center;
  background-color: #f0f4f8;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 15px;
}

.gallery img {
  border-radius: 10px;
  width: 300px;
  height: 200px;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
