
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

header {
  background-color: #bcd4e6;
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

section {
  padding: 20px;
}

footer {
  background-color: #bcd4e6;
  text-align: center;
  padding: 10px;
}
